# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
build
core/__pycache__/
core/celerytask.pyc
web/__pycache__/
